In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("auto.csv")

In [13]:
df.columns = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [14]:
df.shape

(204, 26)

In [16]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [18]:
df.replace("?", np.nan , inplace= True)

In [24]:
df["price"] = pd.to_numeric(df["price"].astype(str),errors="coerce")

In [25]:
df["bore"] =  pd.to_numeric(df["bore"].astype(str),errors="coerce")  
df["stroke"] =  pd.to_numeric(df["stroke"].astype(str),errors="coerce")  
df["peak-rpm"] =  pd.to_numeric(df["peak-rpm"].astype(str),errors="coerce")  
df["horsepower"] =  pd.to_numeric(df["horsepower"].astype(str),errors="coerce")  
df["normalized-losses"] =  pd.to_numeric(df["normalized-losses"].astype(str),errors="coerce")

In [25]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.0

In [26]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [27]:
df["bore"].unique()

array(['3.47', '2.68', '3.19', '3.13', '3.50', '3.31', '3.62', '2.91',
       '3.03', '2.97', '3.34', '3.60', '2.92', '3.15', '3.43', '3.63',
       '3.54', '3.08', nan, '3.39', '3.76', '3.58', '3.46', '3.80',
       '3.78', '3.17', '3.35', '3.59', '2.99', '3.33', '3.70', '3.61',
       '3.94', '3.74', '2.54', '3.05', '3.27', '3.24', '3.01'],
      dtype=object)

In [31]:
df['bore'] = pd.to_numeric(df['bore'], errors='coerce')
df['stroke'] = pd.to_numeric(df['bore'], errors='coerce')
df['peak-rpm'] = pd.to_numeric(df['bore'], errors='coerce')
df['horsepower'] = pd.to_numeric(df['bore'], errors='coerce')
df['normalized-losses'] = pd.to_numeric(df['normalized-losses'], errors='coerce')

In [39]:
df['bore'] = df['bore'].replace(np.nan,df["bore"].mean())
df['stroke'] = df['stroke'].replace(np.nan,df["stroke"].mean())
df['peak-rpm'] = df['peak-rpm'].replace(np.nan,df["peak-rpm"].mean())
df['horsepower'] = df['horsepower'].replace(np.nan,df["horsepower"].mean())
df['normalized-losses'] = df['normalized-losses'].replace(np.nan,df["normalized-losses"].mean())

In [42]:
df['num-of-doors'] = df['num-of-doors'].replace(np.nan,df["num-of-doors"].mode()[0])