In [10]:
import sqlite3 
import prettytable as pt
pt.DEFAULT = pt.MARKDOWN

C:\Users\Aditya Pandey\AppData\Local\Temp\ipykernel_6936\1442380963.py:3: DeprecationWarning: the 'MARKDOWN' constant is deprecated, use the 'TableStyle' enum instead
  pt.DEFAULT = pt.MARKDOWN

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
con  = sqlite3.connect("Chicago.db")

In [16]:
%sql sqlite:///Chicago.db

In [17]:
%%sql 
SELECT name 
FROM sqlite_master 
WHERE type='table';

 * sqlite:///Chicago.db
   sqlite:///Insructor.db
Done.

[('census',), ('crime',), ('school',)]

In [19]:
%%sql
select * from school limit 1

 * sqlite:///Chicago.db
   sqlite:///Insructor.db
Done.

[(0, 610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)')]

In [30]:
%%sql 
create view School_view (School_id, Name_of_school , Street_Address, City)
as select School_id , Name_of_school , Street_Address, City from 
school

 * sqlite:///Chicago.db
   sqlite:///Insructor.db
Done.

[]

In [36]:
%%sql 
select count(School_ID) , School_ID from School_view group by School_ID order by School_ID

 * sqlite:///Chicago.db
   sqlite:///Insructor.db
Done.

[(1, 400018),
 (1, 609674),
 (1, 609676),
 (1, 609678),
 (1, 609679),
 (1, 609680),
 (1, 609682),
 (1, 609691),
 (1, 609692),
 (1, 609693),
 (1, 609694),
 (1, 609695),
 (1, 609698),
 (1, 609702),
 (1, 609704),
 (1, 609705),
 (1, 609707),
 (1, 609708),
 (1, 609709),
 (1, 609710),
 (1, 609711),
 (1, 609712),
 (1, 609713),
 (1, 609715),
 (1, 609716),
 (1, 609718),
 (1, 609719),
 (1, 609720),
 (1, 609722),
 (1, 609723),
 (1, 609724),
 (1, 609725),
 (1, 609726),
 (1, 609727),
 (1, 609728),
 (1, 609729),
 (1, 609730),
 (1, 609732),
 (1, 609733),
 (1, 609734),
 (1, 609735),
 (1, 609736),
 (1, 609737),
 (1, 609738),
 (1, 609739),
 (1, 609740),
 (1, 609741),
 (1, 609744),
 (1, 609745),
 (1, 609746),
 (1, 609749),
 (1, 609751),
 (1, 609753),
 (1, 609754),
 (1, 609755),
 (1, 609756),
 (1, 609759),
 (1, 609760),
 (1, 609761),
 (1, 609762),
 (1, 609764),
 (1, 609766),
 (1, 609768),
 (1, 609769),
 (1, 609772),
 (1, 609773),
 (1, 609774),
 (1, 609775),
 (1, 609777),
 (1, 609779),
 (1, 609780),
 (1, 609781),
 (1, 609782),
 (1, 609786),
 (1, 609788),
 (1, 609789),
 (1, 609790),
 (1, 609791),
 (1, 609792),
 (1, 609793),
 (1, 609794),
 (1, 609795),
 (1, 609796),
 (1, 609797),
 (1, 609798),
 (1, 609799),
 (1, 609800),
 (1, 609803),
 (1, 609804),
 (1, 609805),
 (1, 609806),
 (1, 609807),
 (1, 609808),
 (1, 609809),
 (1, 609810),
 (1, 609811),
 (1, 609812),
 (1, 609813),
 (1, 609815),
 (1, 609817),
 (1, 609818),
 (1, 609819),
 (1, 609820),
 (1, 609821),
 (1, 609826),
 (1, 609827),
 (1, 609828),
 (1, 609829),
 (1, 609830),
 (1, 609832),
 (1, 609833),
 (1, 609834),
 (1, 609835),
 (1, 609836),
 (1, 609837),
 (1, 609839),
 (1, 609842),
 (1, 609844),
 (1, 609845),
 (1, 609848),
 (1, 609849),
 (1, 609850),
 (1, 609851),
 (1, 609852),
 (1, 609853),
 (1, 609854),
 (1, 609855),
 (1, 609856),
 (1, 609857),
 (1, 609859),
 (1, 609861),
 (1, 609862),
 (1, 609863),
 (1, 609864),
 (1, 609865),
 (1, 609866),
 (1, 609867),
 (1, 609869),
 (1, 609870),
 (1, 609871),
 (1, 609872),
 (1, 609873),
 (1, 609874),
 (1, 609875),
 (1, 609876),
 (1, 609879),
 (1, 609880),
 (1, 609881),
 (1, 609883),
 (1, 609884),
 (1, 609885),
 (1, 609887),
 (1, 609888),
 (1, 609891),
 (1, 609893),
 (1, 609894),
 (1, 609895),
 (1, 609896),
 (1, 609897),
 (1, 609898),
 (1, 609899),
 (1, 609900),
 (1, 609901),
 (1, 609902),
 (1, 609903),
 (1, 609904),
 (1, 609906),
 (1, 609907),
 (1, 609908),
 (1, 609909),
 (1, 609910),
 (1, 609912),
 (1, 609913),
 (1, 609916),
 (1, 609917),
 (1, 609918),
 (1, 609919),
 (1, 609920),
 (1, 609921),
 (1, 609922),
 (1, 609924),
 (1, 609925),
 (1, 609926),
 (1, 609927),
 (1, 609928),
 (1, 609929),
 (1, 609930),
 (1, 609932),
 (1, 609933),
 (1, 609935),
 (1, 609937),
 (1, 609938),
 (1, 609939),
 (1, 609941),
 (1, 609942),
 (1, 609943),
 (1, 609944),
 (1, 609945),
 (1, 609947),
 (1, 609949),
 (1, 609950),
 (1, 609951),
 (1, 609952),
 (1, 609954),
 (1, 609955),
 (1, 609956),
 (1, 609958),
 (1, 609959),
 (1, 609960),
 (1, 609961),
 (1, 609963),
 (1, 609964),
 (1, 609966),
 (1, 609967),
 (1, 609968),
 (1, 609969),
 (1, 609971),
 (1, 609972),
 (1, 609973),
 (1, 609974),
 (1, 609975),
 (1, 609976),
 (1, 609977),
 (1, 609978),
 (1, 609979),
 (1, 609981),
 (1, 609983),
 (1, 609985),
 (1, 609986),
 (1, 609987),
 (1, 609988),
 (1, 609989),
 (1, 609990),
 (1, 609991),
 (1, 609993),
 (1, 609994),
 (1, 609995),
 (1, 609996),
 (1, 609997),
 (1, 610000),
 (1, 610002),
 (1, 610003),
 (1, 610004),
 (1, 610005),
 (1, 610006),
 (1, 610009),
 (1, 610010),
 (1, 610011),
 (1, 610012),
 (1, 610013),
 (1, 610015),
 (1, 610016),
 (1, 610017),
 (1, 610018),
 (1, 610019),
 (1, 610020),
 (1, 610021),
 (1, 610022),
 (1, 610023),
 (1, 610024),
 (1, 610026),
 (1, 610027),
 (1, 610028),
 (1, 610029),
 (1, 610030),
 (1, 610031),
 (1, 610032),
 (1, 610033),
 (1, 610034),
 (1, 610036),
 (1, 610037),
 (1, 610038),
 (1, 610039),
 (1, 610040),
 (1, 610041),
 (1, 610043),
 (1, 610044),
 (1, 610045),
 (1, 610046),
 (1, 610047),
 (1, 610048),
 (1, 610051),
 (1, 610052),
 (1, 610053),
 (1, 610054),
 (1, 610055),
 (1, 610056),
 (1, 610057),
 (1, 610058),
 (1, 610059),
 (1, 610060),
 (1, 610061),
 (1, 610062),
 (1, 610063),
 (1, 610065),
 (1, 610066),
 (1, 610067),
 (1, 610068),
 (1, 610070),
 (1, 610072),
 (1, 610073),
 (1, 610074),
 (1, 610075),
 (1, 610076),
 (1, 610077),
 (1, 610078),
 (1, 610081),
 (1, 610082),
 (1, 610083),
 (1, 610084),
 (1, 610085),
 (1, 610086),
 (1, 610087),
 (1, 610088),
 (1, 610089),
 (1, 610090),
 (1, 610091),
 (1, 610092),
 (1, 610093),
 (1, 610094),
 (1, 610095),
 (1, 610096),
 (1, 610097),
 (1, 610098),
 (1, 610099),
 (1, 610100),
 (1, 610101),
 (1, 610102),
 (1, 610103),
 (1, 610104),
 (1, 610105),
 (1, 610106),
 (1, 610107),
 (1, 610108),
 (1, 610109),
 (1, 610110),
 (1, 610111),
 (1, 610112),
 (1, 610114),
 (1, 610115),
 (1, 610116),
 (1, 610117),
 (1, 610119),
 (1, 610120),
 (1, 610121),
 (1, 610122),
 (1, 610123),
 (1, 610124),
 (1, 610125),
 (1, 610126),
 (1, 610127),
 (1, 610128),
 (1, 610129),
 (1, 610130),
 (1, 610131),
 (1, 610132),
 (1, 610133),
 (1, 610134),
 (1, 610135),
 (1, 610136),
 (1, 610137),
 (1, 610138),
 (1, 610139),
 (1, 610141),
 (1, 610142),
 (1, 610143),
 (1, 610144),
 (1, 610145),
 (1, 610146),
 (1, 610147),
 (1, 610148),
 (1, 610150),
 (1, 610152),
 (1, 610153),
 (1, 610154),
 (1, 610155),
 (1, 610156),
 (1, 610157),
 (1, 610158),
 (1, 610159),
 (1, 610160),
 (1, 610161),
 (1, 610163),
 (1, 610165),
 (1, 610167),
 (1, 610169),
 (1, 610170),
 (1, 610171),
 (1, 610172),
 (1, 610173),
 (1, 610174),
 (1, 610175),
 (1, 610176),
 (1, 610177),
 (1, 610178),
 (1, 610179),
 (1, 610180),
 (1, 610182),
 (1, 610183),
 (1, 610184),
 (1, 610185),
 (1, 610187),
 (1, 610188),
 (1, 610189),
 (1, 610191),
 (1, 610192),
 (1, 610193),
 (1, 610194),
 (1, 610195),
 (1, 610196),
 (1, 610197),
 (1, 610198),
 (1, 610199),
 (1, 610200),
 (1, 610201),
 (1, 610202),
 (1, 610203),
 (1, 610205),
 (1, 610206),
 (1, 610207),
 (1, 610208),
 (1, 610209),
 (1, 610210),
 (1, 610212),
 (1, 610213),
 (1, 610215),
 (1, 610216),
 (1, 610217),
 (1, 610218),
 (1, 610219),
 (1, 610220),
 (1, 610221),
 (1, 610223),
 (1, 610224),
 (1, 610225),
 (1, 610226),
 (1, 610227),
 (1, 610228),
 (1, 610229),
 (1, 610230),
 (1, 610231),
 (1, 610232),
 (1, 610233),
 (1, 610234),
 (1, 610235),
 (1, 610237),
 (1, 610238),
 (1, 610239),
 (1, 610240),
 (1, 610241),
 (1, 610242),
 (1, 610243),
 (1, 610244),
 (1, 610245),
 (1, 610246),
 (1, 610248),
 (1, 610249),
 (1, 610250),
 (1, 610251),
 (1, 610252),
 (1, 610253),
 (1, 610254),
 (1, 610256),
 (1, 610257),
 (1, 610258),
 (1, 610263),
 (1, 610264),
 (1, 610265),
 (1, 610266),
 (1, 610268),
 (1, 610269),
 (1, 610271),
 (1, 610273),
 (1, 610274),
 (1, 610276),
 (1, 610277),
 (1, 610279),
 (1, 610280),
 (1, 610281),
 (1, 610282),
 (1, 610283),
 (1, 610284),
 (1, 610285),
 (1, 610287),
 (1, 610290),
 (1, 610291),
 (1, 610293),
 (1, 610295),
 (1, 610297),
 (1, 610298),
 (1, 610299),
 (1, 610300),
 (1, 610304),
 (1, 610305),
 (1, 610308),
 (1, 610312),
 (1, 610313),
 (1, 610315),
 (1, 610316),
 (1, 610317),
 (1, 610319),
 (1, 610320),
 (1, 610321),
 (1, 610323),
 (1, 610325),
 (1, 610329),
 (1, 610334),
 (1, 610336),
 (1, 610339),
 (1, 610340),
 (1, 610342),
 (1, 610345),
 (1, 610347),
 (1, 610348),
 (1, 610350),
 (1, 610352),
 (1, 610353),
 (1, 610354),
 (1, 610355),
 (1, 610357),
 (1, 610362),
 (1, 610363),
 (1, 610364),
 (1, 610365),
 (1, 610366),
 (1, 610367),
 (1, 610368),
 (1, 610369),
 (1, 610380),
 (1, 610381),
 (1, 610383),
 (1, 610384),
 (1, 610385),
 (1, 610389),
 (1, 610390),
 (1, 610391),
 (1, 610392),
 (1, 610394),
 (1, 610395),
 (1, 610396),
 (1, 610402),
 (1, 610405),
 (1, 610499),
 (1, 610501),
 (1, 610502),
 (1, 610503),
 (1, 610504),
 (1, 610506),
 (1, 610513),
 (1, 610515),
 (1, 610518),
 (1, 610520),
 (1, 610521),
 (1, 610523),
 (1, 610524),
 (1, 610529),
 (1, 610530),
 (1, 610532),
 (1, 610533),
 (1, 610534),
 (1, 610535),
 (1, 610539),
 (1, 610541),
 (1, 610542),
 (1, 610543),
 (1, 610544)]